
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/ytdlWrapper/.vs/*
library/ytdlWrapper/ytdlWrapper/bin/*
library/ytdlWrapper/ytdlWrapper/obj/*

# ignore PowerShell Studio MetaData
ytdlWrapper/ytdlWrapper.psproj
ytdlWrapper/ytdlWrapper.psproj.bak
ytdlWrapper/ytdlWrapper.psprojs
ytdlWrapper/ytdlWrapper.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*